doctype html  
html(lang='en')
    head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="refresh" content="5; URL=http://localhost:9002/")
    
    title= "OAuth Protected Resource"

    link(rel="stylesheet", type="text/css", href="css/style.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script. 
        window.onload=function () {
            var objDiv = document.getElementById("console");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

    body    
        nav(class="navbar navbar-fixed-top")
            a(class="navbar-brand" href="/")
                span OAuth Protected Resource
        
        div(class="container-fluid")
            div(class="column")
                h2 Resource
                div(class="info")
                    | To access the resource, send a <code>POST</code> request to <code>http://localhost:9002/resource</code> and include a valid OAuth token.
            
            div(class="column")
                h2 Log Console
                div(class="console", id="console")
                    span(class="console-icon") !{"&gt; "}
                    if logs
                        each line in logs
                            | #{line} 
                            br
                            span(class="console-icon") !{"&gt; "}