doctype html  
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        title= "OAuth Authorization Server"

        link(rel="stylesheet", type="text/css", href="css/style.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    body
        nav(class="navbar navbar-fixed-top")
            a(class="navbar-brand" href="/") 
                span OAuth Authorization Server
        
        div(class="container-fluid")
            div(class="column")
                if status
                    div(class="alert alert-success" role="alert")
                        b #{status}

                h2 Permissions
                div(class="info")
                    h4 Is requesting permission to do the following:
                    form(method='POST' action='/permissions')
                        each action, index in scope
                            input(type='checkbox' id=action name='permission'+index value=action checked)
                            label(for=action)
                                span #{action.charAt(0).toUpperCase() + action.slice(1)}
                            br

                        div(class="buttons")
                            a(class='btn btn-default' href= `${deny_uri}`) Deny 
                            button.btn.btn-primary(type='submit') Allow

            div(class="column")
                h2 Log Console
                div(class="console")
                    span(class="console-icon") !{"&gt; "}
                    if logs
                        each line in logs
                            | #{line} 
                            br
                            span(class="console-icon") !{"&gt; "}
