doctype html  
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        title= "OAuth Authorization Server"

        link(rel="stylesheet", type="text/css", href="css/style.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        script. 
            window.onload=function () {
                var objDiv = document.getElementById("console");
                objDiv.scrollTop = objDiv.scrollHeight;
            }
            
    body
        nav(class="navbar navbar-fixed-top")
            a(class="navbar-brand" href="/") 
                span OAuth Authorization Server
        
        div(class="container-fluid")
            div(class="column")
                h2 Client information
                div(class="info")
                    each client, index in clients
                        h4 
                            span #{client.client_id}:
                        ul
                            li Client Secret: 
                                span #{client.client_secret}
                            li Scope: 
                                span #{client.scope}
                            li Redirect URI: 
                                span #{client.redirect_uris}
                        if index < (clients.length - 1)
                            br
                
                h2 Server information
                div(class="info")
                    p Authorization Endpoint: 
                        span #{authServer.authorizationEndpoint}
                    p Token Endpoint: 
                        span #{authServer.tokenEndpoint}
            div(class="column")
                h2 Log Console
                div(class="console", id="console")
                    span(class="console-icon") !{"&gt; "}
                    if logs
                        each line in logs
                            | #{line} 
                            br
                            span(class="console-icon") !{"&gt; "}