doctype html  
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    title= "OAuth Client"

    link(rel="stylesheet", type="text/css", href="css/style.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

  body
    nav(class="navbar navbar-fixed-top")
        a(class="navbar-brand" href="/") 
            span OAuth Client

    div(class="container-fluid")
        div(class="column")
            h2 Information
            div(class="info")
                h4 Authorization code value: 
                p
                    if (typeof(auth_code) == 'undefined' || auth_code == null)
                        | None
                    else 
                        | #{auth_code}
                h4 Access token value: 
                p
                    if (typeof(access_token) == 'undefined' || access_token == null)
                        | None
                    else
                        | #{access_token}
                h4 Scope value: 
                p
                    if (typeof(scope) == 'undefined' || scope == null)
                        | None
                    else
                        | #{scope}
                h4 Refresh token value: 
                p
                    if (typeof(refresh_token) == 'undefined' || refresh_token == null)
                        | None
                    else
                        | #{refresh_token}
                div(class="buttons")
                    a(class='btn btn-primary' href= `${auth_endpoint}`) Get OAuth Authorization Code
                    br
                    if (auth_code == null)
                        a(class='btn btn-primary' disabled) Get OAuth Token
                    else 
                        a(class='btn btn-primary' href= "http://localhost:9000/token") Get OAuth Token

            if !(typeof(scope) == 'undefined' || scope == null)
                h2 Access Protected Resource
                div(class="info")                    
                        div(class="buttons")
                            form(method='GET' action='/test')
                                div.form-group
                                    label(for='word', hidden="true") Word:
                                    input#word.form-control(type='text', name='word', placeholder="Word", required="true", value="success")
                                    script
                                        include script.js

                                - (Array.isArray(scope))? length = scope.length : length = 1 
                                - var n = 0
                                while n < length
                                    - (length == 1)? action = scope : action = scope[n]
                                    case action
                                        when "read"
                                            - text = "Search"
                                        when "write"
                                            - text = "Insert"
                                        when "delete"
                                            - text = "Delete"
                                    input.btn.btn-primary(type="submit", name="submit", value=`${text}`)
                                    - n++

        div(class="column")
            h2 Log Console
            div(class="console")
                span(class="console-icon") !{"&gt; "}
                if logs
                    each line in logs
                        | #{line} 
                        br
                        span(class="console-icon") !{"&gt; "}